<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<httpRuntime maxUrlLength="16384" maxQueryStringLength="16384" enableVersionHeader="false" maxRequestLength="30000"/>
		</system.web>
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="Root Hit Redirect" stopProcessing="true">
						<match url="^$" />
						<action type="Redirect" url="help" />
					</rule>
				</rules>
			</rewrite>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Headers" value="Content-Type" />
					<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
					<add name="Access-Control-Allow-Credentials" value="true" />
					<add name="X-Frame-Options" value="sameorigin"/>
					<add name="X-Content-Type-Options" value="nosniff"/>
					<add name="Referrer-Policy" value="no-referrer"/>
					<add name="X-Permitted-Cross-Domain-Policies" value="none"/>
					<add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
					<add name="Pragma" value="no-cache"/>
					<add name="Expires" value="0"/>
					<add name="X-XSS-Protection" value="1; mode=block"/>
					<remove name="X-Powered-By"/>
					<remove name="X-AspNet-Version"/>
					<remove name="X-AspNetMvc-Version"/>
					<remove name="Server"/>
				</customHeaders>
			</httpProtocol>
			<security>
				<requestFiltering removeServerHeader="true">
					<requestLimits maxQueryString="16384" maxUrl="16384" maxAllowedContentLength="30000000"/>
					<verbs>
						<add verb="TRACE" allowed="false"/>
						<add verb="TRACK" allowed="false"/>
					</verbs>
				</requestFiltering>
			</security>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\AVEVA.PA.MicroserviceTemplate.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule" />
			</modules>
		</system.webServer>
	</location>
</configuration>